html,body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    position: relative;
    font-family: 'Russo One', sans-serif;
    text-align: center;
    letter-spacing: 2px;
    background-image: url("../images/main.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(0, 0, 0);
    color: white;
}

/* #F5F5DC */
header {
    display: none;
    height: 10%;
    width: 100%;
    background-color: #3d9dcb;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 2px 0 3px 2px rgb(59, 136, 136);
}

h1 {
    color: white;
    font-size: 44px;
    line-height: 10vh; /* Match height of header to center vertically */
}

#background {
    position: absolute;
    height: 100%;
    width: 736vh;
    opacity: 0.5;
    background-image: url("../images/fog.png");
    background-repeat: repeat-x;
    background-size: contain;
}

#intro-container {
    height: 100%;
    width: 100%;
    z-index: 5;
}

.btn {
    display: table;
    background-image: url("../images/btn.png");
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 36px;
    filter: sepia(1);
}

#btn-container {
    position: absolute;
    height: 50%;
    width: 100%;
    bottom: 0;
}

#play {
    position: relative;
    width: 342px;
    height: 99px;
    margin: auto;
}

#game-container {
    position: relative;
    display: none;
    height: 90%;
    width: 90%;
    margin: auto;
    overflow: hidden;
}

.tab {
    display: table;
    background-color: rgb(238, 250, 250);
}

#questions {
    display: table;
    height: 30%;
    width: 100%;
    margin: 20px 0;
    border-radius: 30px;
    font-size: 32px;
}

p {
    display: table-cell;
    vertical-align: middle;
}

#choices {
    height: 60%;
}

#choices .tab {
    height: 15%;
    width: 100%;
    margin: 20px 0;
    border-radius: 15px;
    box-shadow: 0 5px 2px 0 rgb(59, 136, 136);
}

@media screen and (min-width: 768px) and (max-width: 981px) and (orientation: landscape) {
    #choices .tab {
        height: 40%;
        width: 47.5%;
        float: left;
    }

    #choices .tab:nth-child(odd) {
        margin-right: 5%;
    }
}

@media screen and (min-width: 981px) {
    .btn:hover {
        filter: sepia(1) brightness(1.5);
    }

    #game-container {
        width: 50%;
        min-width: 960px;
    }

    #questions {
        height: 40%;
    }

    #choices .tab:hover {
        background-color: rgb(251, 199, 103);
    }
}