html,body {
    height: 100%;
    width: 100%;
    font-family: 'Russo One', sans-serif;
    text-align: center;
    letter-spacing: 2px;
    background-image: url("../images/full-bloom.png");
    background-blend-mode: multiply;
    background-color: rgb(87, 203, 203);
    color: black;
}
/* #F5F5DC */
header {
    height: 10%;
    width: 100%;
    background-color: #3d9dcb;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 2px 0 3px 2px rgba(0,0,0,0.3);
}

h1 {
    color: white;
    font-size: 44px;
    line-height: 10vh; /* Match height of header to center vertically */
}

#game-container {
    height: 90%;
    width: 90%;
    margin: auto;
    overflow: hidden;
}

.tab {
    display: table;
    background-color: rgba(255, 255, 255, 0.9);
}

#questions {
    display: table;
    height: 30%;
    width: 100%;
    margin: 20px 0;
    border-radius: 30px;
}

p {
    display: table-cell;
    vertical-align: middle;
    font-size: 32px;
}

#choices {
    height: 60%;
}

#choices .tab {
    height: 15%;
    width: 100%;
    margin: 20px 0;
    border-radius: 15px;
    box-shadow: 0 5px 0 0 rgb(127, 127, 127, 0.5);
}

@media all and (min-width: 981px) {
    #game-container {
        width: 50%;
    }

    #questions {
        height: 40%;
    }

    #choices .tab:hover {
        background-color: rgb(251, 199, 103);
    }
}